<h1> Please Input Your Requested Dates</h1>

<form>
  Start time (date and time): 
  <input type="datetime" name="starttime">
	End time: 
  <input type="datetime" name="endtime">
	<input type="submit" value="submit the date">
</form>
