<head>
    <title>Graph Report</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/dc.css"/>
</head>
<body>

<div id="test" class="fullscreen background parallax"></div>

<script type="text/javascript" src="../js/d3.js"></script>
<script type="text/javascript" src="../js/crossfilter.js"></script>
<script type="text/javascript" src="../js/dc.js"></script>
<script type="text/javascript">
var margin = {top: 100, right: 100, bottom: 50, left: 100}
  , w = window
  , width = w.innerWidth
  , height = w.innerHeight
  , width = width - margin.left - margin.right;

var parseDate = d3.time.format("%d-%b-%y").parse;



var chart = dc.lineChart("#test");

//d3.csv("morley.csv", function(error, data) {
d3.json("/data2", function(error, data) {


  data.forEach(function(d) {
    d.close = +d.close;
    d.date = parseDate(d.date);
  });


  var ndx                 = crossfilter(data),
      dateDimension        = ndx.dimension(function(d) {return d.date;}),
      closeSumGroup       = dateDimension.group().reduceSum(function(d) {return d.close;});

  var minDate = dateDimension.bottom(1)[0].date;
  var maxDate = dateDimension.top(1)[0].date;

  console.log(minDate);
  console.log(maxDate);

  chart
    .width(width)
    .height(height)
    .transitionDuration(1000)
    .yAxisLabel("Close Amount")
    .xAxisLabel("Date")
    .brushOn(false)
    .dimension(dateDimension) //your dimension created from crossfilter
    .group(closeSumGroup) // your group
    .elasticY(true)
    .renderHorizontalGridLines(true)
    .renderVerticalGridLines(true)
    .x(d3.time.scale().domain([minDate, maxDate])) //these are the dates we created before this step so that the scale fits according to our data
    .yAxis().tickFormat(d3.format("s"));
  
  chart.xAxis().tickFormat(d3.time.format("%d-%b-%y"));

  chart.render();

});


//d3.select('body').on('resize', resize); 
window.onresize = updateWindow;

function updateWindow(){
    x = w.innerWidth || e.clientWidth || g.clientWidth;
    x = x - margin.left - margin.right;
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
    
    chart.width(x);
    chart.height(y);
    dc.renderAll();
/*
    console.log(x);
    console.log(y);
    console.log(d3.select("#test").selectAll('svg').attr("width"));
    d3.select("#test").selectAll('svg').attr("width", x).attr("height", y);
    */
}

</script>

</body>
</html>