<!DOCTYPE>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<center>
  <body>
    {{#if alert}}
    <h3 style="color:red; font-size:1em;">{{{alert}}}</h3>
    {{/if}}
    <div class="container">
      {{{body}}}
    </div>
    <div class = 'sixteen columns'>
    <!--
      <nav>{{#if user}}<a href="/logout">logout</a> | <a href="/login">login</a> | <a href="/data">data</a> | <a href="/input">Add Report</a> |  <a href="/graph">graph</a> | {{/if}}<a href="/">home</a></nav>
    -->
    </div>
    </center>
    <div id="float">
    <ul>
      {{#if user}}
      <li><a class="notBlue" href="/logout">logout</a></li>
      <li><a class="notBlue" href="/data">data</a></li>
      <li><a class="notBlue" href="/input">add report</a></li>
      <li><a class="notBlue" href="/graph">graph</a></li>
      {{else}}
      <li><a class="notBlue" href="/login">login</a></li>
      {{/if}}
      <li><a class="notBlue" href="/">home</a></li>
    </ul>
    </div>

  </body>

  </html>
