<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
  <center>
  <h3 style="color:red;">{{alert}}</h3>
  <div class = 'container'>
    <div class= 'sixteen columns'>
      {{{body}}}
    </div>
    <div class = 'sixteen columns'>
  <nav>{{#if user}}<a href="/logout">logout</a> | <a href="/login">login</a> | <a href="/data">data</a> | <a href="/input">Add Report</a> | {{/if}}<a href="/">home</a></nav></div>
  </div>
</center>
</body>

  </html>
