<div class="fullscreen background parallax" style="background-color:#00B7FF;">
<h1>Register</h1>
{{message}}
<form method="POST" action="">
	<center>
	<div class = "nine columns offset-by-three">
			username: <input name="username" type="text">	
	</div>
	<div class = "nine columns offset-by-three">
		password: <input name="password" type="password">	
		</div>
		<input type="submit" class="btn btn-sm" value="Register">	
		</center>
</form>

</div>